body { 
    background: url("../icons/background.jpg") no-repeat center center fixed; 
    background-size: cover;
    margin-bottom: 60px; 
    padding-top: 56px;
}

.navbar { 
    background-color: #6c757d; 
}

.navbar a { 
    color: #fff !important; 
}

.dropdown-menu { 
    min-width: 200px; 
}

.product-card { 
    margin-bottom: 30px;
}

.card:hover .card-img-top {
    transform: scale(1.05);
}

#flash-message {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: auto;
    max-width: 90%;
}

.legla {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;         /* Центрирование по горизонтали */
    width: 90%;                /* Занимает 90% ширины экрана */
    max-width: 1100px;         /* Максимальная ширина блока */
    box-sizing: border-box;    /* Padding включён в ширину */
    display: block;
    position: relative;
}

.recommended-products {
    gap: 20px;
}

.recommended-item {
    flex: 1 1 18%;
    min-width: 200px;
}

.recommended-item .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recommended-item .card-img-top {
    height: 150px;
    object-fit: cover;
}